---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [5]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [125]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
#     states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 
#               'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 
#               'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 
#               'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 
#               'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 
#               'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 
#               'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 
#               'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 
#               'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 
#               'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 
#               'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 
#               'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 
#               'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}
    
    #inv_map_states = {v: k for k, v in states.items()}
    
    filepath = 'university_towns.txt'
    state_var = ""
    region_var = ""
    towns = pd.DataFrame(columns=['State', 'RegionName'])
    
    with open(filepath) as fp:
        for cnt, line in enumerate(fp):
            if '[edit]' in line:
                state_pos = line.find('[')
                state_var = line[0:state_pos]
                state_var = state_var.rstrip()
            else:
                reg_pos = line.find('(')
                region_var = line[0:reg_pos]
                region_var = region_var.rstrip()
                towns = towns.append({'State': state_var, 'RegionName': region_var}, ignore_index=True)
                
    #towns = towns.replace({'State': inv_map_states})
    
    return towns

get_list_of_university_towns()

             State                    RegionName
0          Alabama                        Auburn
1          Alabama                      Florence
2          Alabama                  Jacksonville
3          Alabama                    Livingston
4          Alabama                    Montevallo
5          Alabama                          Troy
6          Alabama                    Tuscaloosa
7          Alabama                      Tuskegee
8           Alaska                     Fairbanks
9          Arizona                     Flagstaff
10         Arizona                         Tempe
11         Arizona                        Tucson
12        Arkansas                   Arkadelphia
13        Arkansas                        Conway
14        Arkansas                  Fayetteville
15        Arkansas                     Jonesboro
16        Arkansas                      Magnolia
17        Arkansas                    Monticello
18        Arkansas                  Russellville
19        Arkansas                        Searcy
20      California                        Angwin
21      California                        Arcata
22      California                      Berkeley
23      California                         Chico
24      California                     Claremont
25      California                        Cotati
26      California                         Davis
27      California                        Irvine
28      California                    Isla Vista
29      California  University Park, Los Angeles
..             ...                           ...
487       Virginia                          Wise
488       Virginia                    Chesapeake
489     Washington                    Bellingham
490     Washington                        Cheney
491     Washington                    Ellensburg
492     Washington                       Pullman
493     Washington  University District, Seattle
494  West Virginia                        Athens
495  West Virginia                    Buckhannon
496  West Virginia                      Fairmont
497  West Virginia                     Glenville
498  West Virginia                    Huntington
499  West Virginia                    Montgomery
500  West Virginia                    Morgantown
501  West Virginia                 Shepherdstown
502  West Virginia                  West Liberty
503      Wisconsin                      Appleton
504      Wisconsin                    Eau Claire
505      Wisconsin                     Green Bay
506      Wisconsin                     La Crosse
507      Wisconsin                       Madison
508      Wisconsin                     Menomonie
509      Wisconsin                     Milwaukee
510      Wisconsin                       Oshkosh
511      Wisconsin                   Platteville
512      Wisconsin                   River Falls
513      Wisconsin                 Stevens Point
514      Wisconsin                      Waukesha
515      Wisconsin                    Whitewater
516        Wyoming                       Laramie

[517 rows x 2 columns]

In [145]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    '''A quarter is a specific three month period, Q1 is January through March, Q2 is April through June, 
    Q3 is July through September, Q4 is October through December.
    
    A recession is defined as starting with two consecutive quarters of GDP decline, 
    and ending with two consecutive quarters of GDP growth.
    
    A recession bottom is the quarter within a recession which had the lowest GDP.'''
    
    recession_start = ""
    gdp = pd.read_excel('gdplev.xls')
    gdp = gdp[219:286]
    gdp = gdp.drop(['Current-Dollar and "Real" Gross Domestic Product', 'Unnamed: 1', 'Unnamed: 2',
                   'Unnamed: 3'], axis = 1)
    #gdp.dropna(axis='columns')
    gdp.rename(columns = {'Unnamed: 4':'Quarter', 'Unnamed: 5':'GDP in billions of current dollars',
                         'Unnamed: 6':'GDP in billions of chained 2009 dollars'}, inplace=True)
    
    gdp.set_index('Quarter', inplace=True)
    
    lst_start = []
    lst_end = []
    recession = False
    
    for i in range(1, len(gdp)-1):
        if not recession and (gdp.iloc[i-1, 0] > gdp.iloc[i, 0] > gdp.iloc[i+1, 0]):
            recession = True
            lst_start.append(gdp.index[i-1])
        elif recession and (gdp.iloc[i-1, 0] < gdp.iloc[i, 0] < gdp.iloc[i+1, 0]):
            recession = False
            lst_end.append(gdp.index[i+1]) 
            
    #print(list(zip(lst_start, lst_end)))
    
    lst_start[0] = str(lst_start[0])
        
    return str(lst_start[0])

get_recession_start()

'2008q3'

In [146]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    
    '''A quarter is a specific three month period, Q1 is January through March, Q2 is April through June, 
    Q3 is July through September, Q4 is October through December.
    
    A recession is defined as starting with two consecutive quarters of GDP decline, 
    and ending with two consecutive quarters of GDP growth.
    
    A recession bottom is the quarter within a recession which had the lowest GDP.'''
    
    pd.set_option('display.max_rows', 30)
    
    recession_end = ""
    gdp = pd.read_excel('gdplev.xls')
    gdp = gdp[219:286]
    gdp = gdp.drop(['Current-Dollar and "Real" Gross Domestic Product', 'Unnamed: 1', 'Unnamed: 2',
                   'Unnamed: 3'], axis = 1)
    #gdp.dropna(axis='columns')
    gdp.rename(columns = {'Unnamed: 4':'Quarter', 'Unnamed: 5':'GDP in billions of current dollars',
                         'Unnamed: 6':'GDP in billions of chained 2009 dollars'}, inplace=True)
    
    gdp.set_index('Quarter', inplace=True)
    
    lst_start = []
    lst_end = []
    recession = False
    
    for i in range(1, len(gdp)-1):
        if not recession and (gdp.iloc[i-1, 0] > gdp.iloc[i, 0] > gdp.iloc[i+1, 0]):
            recession = True
            lst_start.append(gdp.index[i-1])
        elif recession and (gdp.iloc[i-1, 0] < gdp.iloc[i, 0] < gdp.iloc[i+1, 0]):
            recession = False
            lst_end.append(gdp.index[i+1]) 
            
    #print(list(zip(lst_start, lst_end)))
    
    lst_end[0] = str(lst_end[0])
        
    return str(lst_end[0])

get_recession_end()

'2009q4'

In [147]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3
    
    A recession bottom is the quarter within a recession which had the lowest GDP.'''
    
    #pd.set_option('display.max_rows', None)
    
    recession_end = ""
    gdp = pd.read_excel('gdplev.xls')
    gdp = gdp[219:286]
    gdp = gdp.drop(['Current-Dollar and "Real" Gross Domestic Product', 'Unnamed: 1', 'Unnamed: 2',
                   'Unnamed: 3'], axis = 1)
    #gdp.dropna(axis='columns')
    gdp.rename(columns = {'Unnamed: 4':'Quarter', 'Unnamed: 5':'GDP in billions of current dollars',
                         'Unnamed: 6':'GDP in billions of chained 2009 dollars'}, inplace=True)
    
    gdp.set_index('Quarter', inplace=True)
    
    lst_start = []
    lst_end = []
    recession = False
    
    for i in range(1, len(gdp)-1):
        if not recession and (gdp.iloc[i-1, 0] > gdp.iloc[i, 0] > gdp.iloc[i+1, 0]):
            recession = True
            lst_start.append(gdp.index[i])
        elif recession and (gdp.iloc[i-1, 0] < gdp.iloc[i, 0] < gdp.iloc[i+1, 0]):
            recession = False
            lst_end.append(gdp.index[i]) 
            
    #print(list(zip(lst_start, lst_end)))
    
    recession_df = gdp.loc[ '2008q4' : '2009q3' , : ]
    #print(recession_df)
    recession_bottom = recession_df.iloc[:,0].idxmin()
    
    return recession_bottom

get_recession_bottom()

'2009q2'

In [148]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    
    states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 
              'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 
              'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 
              'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 
              'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 
              'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 
              'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 
              'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 
              'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 
              'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 
              'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 
              'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 
              'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}
    
    housing_df = pd.read_csv('City_Zhvi_AllHomes.csv', index_col=0, skiprows=0)
    housing_df.drop(housing_df.iloc[:,5:50], inplace=True, axis=1)
    housing_df.replace({'State': states}, inplace=True)
    housing_df.set_index(['State', 'RegionName'], inplace=True)
    housing_df.sort_index(inplace=True)
    
    range_years = [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016]
    quarters = [('01','03'),('04','06'),('07','09'),('10','12')]
    quarters_2016 = [('01','03'),('04','06'),('07','08')]
    
    for year in range_years:
        if year != 2016:
            for quarter in range(len(quarters)):
                qstart = '{}-{}'.format(year, quarters[quarter][0])
                qend = '{}-{}'.format(year, quarters[quarter][1])
                qname = '{}q{}'.format(year, quarter+1)
            
                col = housing_df.loc[: , qstart:qend]
                housing_df[qname] = col.mean(axis=1, skipna=True)
                housing_df.drop(housing_df.iloc[:,3:6], inplace=True, axis=1)
        else:
            for quarter in range(len(quarters_2016)):
                qstart = '{}-{}'.format(year, quarters_2016[quarter][0])
                qend = '{}-{}'.format(year, quarters_2016[quarter][1])
                qname = '{}q{}'.format(year, quarter+1)
            
                col = housing_df.loc[: , qstart:qend]
                housing_df[qname] = col.mean(axis=1, skipna=True)
                if quarter != 2:
                    housing_df.drop(housing_df.iloc[:,3:5], inplace=True, axis=1) 
                else:
                    housing_df.drop(housing_df.iloc[:,3:7], inplace=True, axis=1)
    
    housing_df.drop(housing_df.iloc[:,:3], inplace=True, axis=1)
    
    return housing_df

convert_housing_data_to_quarters()

                                  2000q1         2000q2         2000q3  \
State     RegionName
Alabama   Adamsville        69033.333333   69166.666667   69800.000000
          Alabaster        122133.333333  123066.666667  123166.666667
          Albertville       73966.666667   72600.000000   72833.333333
          Arab              83766.666667   81566.666667   81333.333333
          Ardmore                    NaN            NaN            NaN
          Axis                       NaN            NaN            NaN
          Baileyton                  NaN            NaN            NaN
          Bay Minette       81700.000000   78533.333333   79133.333333
          Bayou La Batre    44066.666667   44500.000000   44266.666667
          Bessemer                   NaN            NaN            NaN
          Birmingham        54033.333333   54400.000000   54966.666667
          Boaz              70866.666667   70266.666667   70300.000000
          Brent             92933.333333   94333.333333   96166.666667
          Brighton                   NaN            NaN            NaN
          Brookwood         92566.666667   95100.000000   98866.666667
...                                  ...            ...            ...
Wisconsin Wilson           129033.333333  129366.666667  132433.333333
          Wilson                     NaN            NaN            NaN
          Wind Lake        124366.666667  123666.666667  124133.333333
          Wind Point       149233.333333  145266.666667  140866.666667
          Wisconsin Dells  100000.000000  103400.000000  105000.000000
          Wolf River        95166.666667   99333.333333  103800.000000
          Woodruff                   NaN            NaN            NaN
          Woodville                  NaN            NaN            NaN
          Yorkville        139066.666667  134900.000000  135033.333333
Wyoming   Bar Nunn          93033.333333   89666.666667   88900.000000
          Burns            101533.333333  104566.666667  108366.666667
          Casper            89233.333333   89600.000000   89733.333333
          Cheyenne         116866.666667  120033.333333  121533.333333
          Evansville       128033.333333  128766.666667  130833.333333
          Pine Bluffs       93733.333333   95066.666667   94633.333333

                                  2000q4         2001q1         2001q2  \
State     RegionName
Alabama   Adamsville        71966.666667   73466.666667   74000.000000
          Alabaster        123700.000000  123233.333333  125133.333333
          Albertville       74200.000000   75900.000000   76000.000000
          Arab              82966.666667   84200.000000   84533.333333
          Ardmore                    NaN            NaN            NaN
          Axis                       NaN            NaN            NaN
          Baileyton                  NaN            NaN            NaN
          Bay Minette       81300.000000   85700.000000   87266.666667
          Bayou La Batre    43666.666667   42500.000000   43333.333333
          Bessemer                   NaN            NaN            NaN
          Birmingham        56066.666667   56833.333333   57600.000000
          Boaz              71466.666667   72833.333333   71900.000000
          Brent             98333.333333   96533.333333   98500.000000
          Brighton                   NaN            NaN            NaN
          Brookwood         99966.666667  101666.666667  103666.666667
...                                  ...            ...            ...
Wisconsin Wilson           137200.000000  143533.333333  143833.333333
          Wilson                     NaN            NaN            NaN
          Wind Lake        126066.666667  132133.333333  139466.666667
          Wind Point       147866.666667  158666.666667  163966.666667
          Wisconsin Dells  105433.333333  105533.333333  107100.000000
          Wolf River       107633.333333  111400.000000  115033.333333
          Woodruff                   NaN            NaN            NaN
          Woodville                  NaN            NaN            NaN
          Yorkville        140300.000000  148800.000000  155233.333333
Wyoming   Bar Nunn          93500.000000   98833.333333   99900.000000
          Burns            113000.000000  115833.333333  117200.000000
          Casper            93166.666667   95500.000000   97633.333333
          Cheyenne         123633.333333  125533.333333  126300.000000
          Evansville       132066.666667  130566.666667  131433.333333
          Pine Bluffs       98066.666667  103233.333333  104600.000000

                                  2001q3         2001q4         2002q1  \
State     RegionName
Alabama   Adamsville        73333.333333   73100.000000   73333.333333
          Alabaster        127766.666667  127200.000000  127300.000000
          Albertville       72066.666667   73566.666667   76533.333333
          Arab              81666.666667   83900.000000   87266.666667
          Ardmore                    NaN            NaN            NaN
          Axis                       NaN            NaN            NaN
          Baileyton                  NaN            NaN            NaN
          Bay Minette       85900.000000   85000.000000   84066.666667
          Bayou La Batre    45433.333333   45400.000000   45400.000000
          Bessemer                   NaN            NaN            NaN
          Birmingham        58433.333333   58700.000000   59500.000000
          Boaz              68733.333333   69833.333333   72766.666667
          Brent             99366.666667  104100.000000  103800.000000
          Brighton                   NaN            NaN            NaN
          Brookwood        101833.333333   99900.000000   99633.333333
...                                  ...            ...            ...
Wisconsin Wilson           143233.333333  141966.666667  142466.666667
          Wilson                     NaN            NaN            NaN
          Wind Lake        144200.000000  147333.333333  150933.333333
          Wind Point       170833.333333  169566.666667  170533.333333
          Wisconsin Dells  109866.666667  111633.333333  115833.333333
          Wolf River       116900.000000  118233.333333  118600.000000
          Woodruff                   NaN            NaN            NaN
          Woodville                  NaN            NaN            NaN
          Yorkville        161133.333333  162800.000000  164866.666667
Wyoming   Bar Nunn          99100.000000   98333.333333   98633.333333
          Burns            117800.000000  117633.333333  117333.333333
          Casper            99433.333333  100633.333333  101733.333333
          Cheyenne         126466.666667  128133.333333  128466.666667
          Evansville       132400.000000  133466.666667  133300.000000
          Pine Bluffs      106500.000000  104066.666667  102233.333333

                                  2002q2    ...            2014q2  \
State     RegionName                        ...
Alabama   Adamsville        73133.333333    ...      77066.666667
          Alabaster        128000.000000    ...     147133.333333
          Albertville       76366.666667    ...      84033.333333
          Arab              87700.000000    ...     113366.666667
          Ardmore                    NaN    ...     140533.333333
          Axis                       NaN    ...     111066.666667
          Baileyton                  NaN    ...      87666.666667
          Bay Minette       84566.666667    ...     113333.333333
          Bayou La Batre    45566.666667    ...      49800.000000
          Bessemer                   NaN    ...      54600.000000
          Birmingham        59866.666667    ...      61733.333333
          Boaz              72100.000000    ...      80933.333333
          Brent            102533.333333    ...      93866.666667
          Brighton                   NaN    ...      45366.666667
          Brookwood        100366.666667    ...     106633.333333
...                                  ...    ...               ...
Wisconsin Wilson           139200.000000    ...     159933.333333
          Wilson                     NaN    ...     170300.000000
          Wind Lake        156166.666667    ...     228200.000000
          Wind Point       179733.333333    ...     261233.333333
          Wisconsin Dells  117333.333333    ...     137500.000000
          Wolf River       116800.000000    ...     162666.666667
          Woodruff                   NaN    ...     172133.333333
          Woodville                  NaN    ...     162600.000000
          Yorkville        172466.666667    ...     231500.000000
Wyoming   Bar Nunn         100866.666667    ...     199233.333333
          Burns            117233.333333    ...     168866.666667
          Casper           101533.333333    ...     175766.666667
          Cheyenne         129633.333333    ...     177466.666667
          Evansville       131066.666667    ...     296733.333333
          Pine Bluffs      103566.666667    ...     148666.666667

                                  2014q3         2014q4         2015q1  \
State     RegionName
Alabama   Adamsville        75966.666667   71900.000000   71666.666667
          Alabaster        147633.333333  148700.000000  148900.000000
          Albertville       84766.666667   86800.000000   88466.666667
          Arab             111700.000000  111600.000000  110166.666667
          Ardmore          139566.666667  140900.000000  143233.333333
          Axis             111833.333333  111800.000000  109533.333333
          Baileyton         90033.333333   94100.000000   94600.000000
          Bay Minette      110600.000000  109900.000000  111100.000000
          Bayou La Batre    51000.000000   51766.666667   50733.333333
          Bessemer          55333.333333   54733.333333   55200.000000
          Birmingham        60900.000000   59533.333333   59900.000000
          Boaz              81866.666667   82866.666667   83966.666667
          Brent             97100.000000  100100.000000  102433.333333
          Brighton          45133.333333   43766.666667   42500.000000
          Brookwood        110233.333333  114366.666667  117700.000000
...                                  ...            ...            ...
Wisconsin Wilson           157633.333333  154233.333333  154766.666667
          Wilson           174433.333333  177733.333333  181833.333333
          Wind Lake        226133.333333  225966.666667  230800.000000
          Wind Point       254666.666667  248000.000000  241866.666667
          Wisconsin Dells  138933.333333  141433.333333  140500.000000
          Wolf River       164733.333333  170433.333333  170533.333333
          Woodruff         171600.000000  168600.000000  168166.666667
          Woodville        169566.666667  171666.666667  172866.666667
          Yorkville        238133.333333  237766.666667  239133.333333
Wyoming   Bar Nunn         200933.333333  201133.333333  206666.666667
          Burns            161933.333333  160433.333333  162600.000000
          Casper           177300.000000  181000.000000  182066.666667
          Cheyenne         176733.333333  178766.666667  181700.000000
          Evansville       305666.666667  309500.000000  307300.000000
          Pine Bluffs      154366.666667  158100.000000  163900.000000

                                  2015q2         2015q3         2015q4  \
State     RegionName
Alabama   Adamsville        73033.333333   73933.333333   73866.666667
          Alabaster        149566.666667  150366.666667  151733.333333
          Albertville       89500.000000   90233.333333   91366.666667
          Arab             109433.333333  110900.000000  112233.333333
          Ardmore          143000.000000  144600.000000  143966.666667
          Axis             109666.666667  110033.333333  109600.000000
          Baileyton         95666.666667   96833.333333   97233.333333
          Bay Minette      114300.000000  118533.333333  121433.333333
          Bayou La Batre    50500.000000   50133.333333   48933.333333
          Bessemer          57200.000000   58633.333333   59433.333333
          Birmingham        61966.666667   62666.666667   63100.000000
          Boaz              85266.666667   86033.333333   86566.666667
          Brent            101800.000000   97900.000000   95600.000000
          Brighton          44233.333333   46266.666667   45766.666667
          Brookwood        118700.000000  120066.666667  118533.333333
...                                  ...            ...            ...
Wisconsin Wilson           157333.333333  161733.333333  166366.666667
          Wilson           181066.666667  185300.000000  188466.666667
          Wind Lake        238466.666667  240200.000000  241833.333333
          Wind Point       244333.333333  246566.666667  249833.333333
          Wisconsin Dells  139500.000000  141066.666667  140566.666667
          Wolf River       169400.000000  167400.000000  163266.666667
          Woodruff         168200.000000  169266.666667  165600.000000
          Woodville        171100.000000  176966.666667  181800.000000
          Yorkville        243066.666667  243066.666667  244800.000000
Wyoming   Bar Nunn         208866.666667  211800.000000  211800.000000
          Burns            163066.666667  164600.000000  164300.000000
          Casper           182633.333333  183300.000000  182700.000000
          Cheyenne         183266.666667  186766.666667  190666.666667
          Evansville       303166.666667  300966.666667  304200.000000
          Pine Bluffs      167433.333333  167466.666667  169200.000000

                                  2016q1         2016q2    2016q3
State     RegionName
Alabama   Adamsville        74166.666667   74933.333333   74700.0
          Alabaster        153466.666667  155100.000000  155850.0
          Albertville       92000.000000   92466.666667   92200.0
          Arab             110033.333333  110100.000000  112000.0
          Ardmore          142566.666667  143233.333333  141950.0
          Axis             110266.666667  112200.000000  112750.0
          Baileyton         96766.666667   98900.000000  102200.0
          Bay Minette      120266.666667  118333.333333  118500.0
          Bayou La Batre    48566.666667   47833.333333   47400.0
          Bessemer          59766.666667   59866.666667   59800.0
          Birmingham        62033.333333   61633.333333   61250.0
          Boaz              85966.666667   87366.666667   88600.0
          Brent             94433.333333   91366.666667   87650.0
          Brighton          45033.333333   44433.333333   44000.0
          Brookwood        115233.333333  111966.666667  108650.0
...                                  ...            ...       ...
Wisconsin Wilson           170466.666667  174866.666667  178350.0
          Wilson           189066.666667  197266.666667  206200.0
          Wind Lake        240833.333333  243866.666667  248850.0
          Wind Point       254400.000000  259500.000000  258450.0
          Wisconsin Dells  139766.666667  141000.000000  143000.0
          Wolf River       159500.000000  160933.333333  168050.0
          Woodruff         162533.333333  161966.666667  164200.0
          Woodville        182633.333333  186666.666667  193100.0
          Yorkville        248466.666667  255200.000000  265950.0
Wyoming   Bar Nunn         210200.000000  208833.333333  207450.0
          Burns            168266.666667  171600.000000  170500.0
          Casper           184333.333333  185166.666667  184350.0
          Cheyenne         194433.333333  196500.000000  199100.0
          Evansville       309433.333333  309200.000000  309050.0
          Pine Bluffs      166833.333333  163800.000000  157650.0

[10730 rows x 67 columns]

In [152]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    recession_start = get_recession_start()
    recession_bottom = get_recession_bottom()
    
    housing_df = convert_housing_data_to_quarters()
    recession_df = housing_df.loc[:, recession_start:recession_bottom]
    change = recession_df[recession_bottom]-recession_df[recession_start]
    recession_df['Change in Housing Prices'] = change
    recession_df.reset_index(inplace=True)
    
    university_town_df = get_list_of_university_towns()
    #university_town_df.set_index(['State', 'RegionName'], inplace=True)
    
    #uni_towns = pd.DataFrame(columns=['State', 'RegionName', '2008q4', '2009q1', '2009q2', 'Change in Housing Prices'])
    #non_uni_towns = pd.DataFrame(columns=['State', 'RegionName', '2008q4', '2009q1', '2009q2', 'Change in Housing Prices'])
    
    towns = pd.merge(university_town_df, recession_df, how='outer', indicator=True)
    towns.set_index(['State', 'RegionName'], inplace=True)

    uni_towns = towns[towns['_merge'] == 'both']
    uni_towns.drop('_merge', inplace=True, axis=1)
    nonuni_towns = towns[towns['_merge'] == 'right_only']
    nonuni_towns.drop('_merge', inplace=True, axis=1)
    
    uni_change_mean = uni_towns['Change in Housing Prices'].mean()
    nonuni_change_mean = nonuni_towns['Change in Housing Prices'].mean()
    
    uni_start_mean = uni_towns[recession_start].mean()
    nonuni_start_mean = nonuni_towns[recession_start].mean()
    
    uni_mean_ratio = uni_change_mean/uni_start_mean
    nonuni_mean_ratio = nonuni_change_mean/nonuni_start_mean
    
    from scipy import stats
    
    ttest,p = stats.ttest_ind(uni_towns.dropna()['Change in Housing Prices'], nonuni_towns.dropna()['Change in Housing Prices'])
    
    different = p < 0.01
        
    if uni_mean_ratio > nonuni_mean_ratio:
        better='university town'
    else:
        better='non-university town'
        
    answ = (different, p, better)
    
    return answ

run_ttest()

(-8766.7312661498727,
 -13090.096267054505,
 205559.10852713179,
 237285.22404598654,
 -0.042648225753483211,
 -0.055166082589776462)